
<ul>
    <li> Gerbera  | <a href="/ShoppingCart/AddToCart/12">Add to Cart</a> </li>
    <li> Rose     | <a href="/ShoppingCart/AddToCart/13">Add to Cart</a> </li>
    <li> Jasmine  | <a href="/ShoppingCart/AddToCart/14">Add to Cart</a> </li>
    <li> Marigold | <a href="/ShoppingCart/AddToCart/15">Add to Cart</a> </li>
    <li> Orchid   | <a href="/ShoppingCart/AddToCart/16">Add to Cart</a> </li>

</ul>